<!DOCTYPE html>
<html>
<head>
	<title>document</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="https://cdn.clgt.io/css/bootstrap/bootstrap.min.css" />
	<style type="text/css">
		.container{
			margin-top: 20px;
		}
	</style>
</head>
<body class="container">
	<legend>Lọc access token/ cookie từ list</legend>
	<div class="row" id="app">
		<div class="col-xs-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h5 class="panel-title">Home</h5>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="ancms">List tài khoản</label>
						<textarea class="form-control" cols="12" rows="12" id="ancms" v-model="ancms" placeholder="Bất kỳ định dạng nào"></textarea>
					</div>
					<div class="form-group">
						<label for="type">Cần lọc</label>
						<select class="form-control" v-model="type" id="type">
							<option value="token">Access Token</option>
							<option value="cookie">Cookie</option>
						</select>
					</div>
					<div class="form-actions text-right">
						<button class="btn btn-primary" :disabled @click.prevent="filters()" >Bắt đầu lọc</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="https://cdn.clgt.io/js/vue/1.0.0/vue.min.js"></script>
<script type="text/javascript">
/* owned by clgtIO https://apps.clgt.io/fb/refine-list.html ( published on https://github.com/clgtIO ) */
window.app=new Vue({el:"#app",data:{ancms:"",type:"token"},methods:{filters:function(){this.ancms=[...new Set(this.ancms.split(/\n/))].map(a=>a.split(/\|/).find(a=>"token"==this.type?/^EAA/.test(a):/^(c_user|Cookie)/.test(a))||a).map(a=>a.replace(/Cookie:/,"")).join("\n")}}});
</script>
</html>
